.posts__list {
	margin-top: 30px;
}

.posts__item {
	margin-bottom: 40px;
	padding-bottom: 30px;
	border-bottom: 1px solid #808080;
}

@media (min-width: 1000px) {
	.posts__list {
		margin-top: 50px;
	}

	.posts__item {
		margin-bottom: 50px;
		padding-bottom: 35px;
	}
}
