.addPost__field {
	display: flex;
	flex-direction: column;
	margin-bottom: 20px;
}

.addPost__label {
	margin-bottom: 15px;
}

.addPost__input {
	font-size: 14px;
	display: block;
	border: 2px solid #808080;
	padding: 9px 7px;
	border-radius: 6px;
}

.addPost__content {
	font-size: 14px;
	display: block;
	border: 2px solid #808080;
	padding: 9px 7px;
	border-radius: 6px;
	width: 100%;
	min-height: 150px;
	resize: vertical;
}

@media (min-width: 1000px) {
	.addPost__field {
		margin-top: 30px;
	}

	.addPost__label {
		font-size: 22px;
	}

	.addPost__input {
		font-size: 20px;
	}

	.addPost__content {
		font-size: 20px;
	}
}
